src/c00clupea
htdocs.tar.gz
c00clupea-01.tar.gz
*.o
*.Po
config.log
*~
*.gch
backup/
bin/
build/
.deps
src/.deps
src/strategies/.deps
src/util/.deps
autom4te.cache/
Makefile.in
src/Makefile.in
aclocal.m4
autoscan*.log
depcomp
missing
Makefile
config.status
man/Makefile
src/Makefile
src/conf.h
src/stamp-h1
*.dirstamp
*.plist
*.core
install-sh
c00clupea
c00clupea_sim
src/c00clupeabox
c00_hashmap_test
val
compile
test/testrun.log
test/*_test
*.emacs.desktop
src/c00nb-uname
src/c00nb-uptime
src/c00nb-whoami
src/c00nbuname
src/c00nbuptime
src/c00nbwhoami
src/c00nb-cat
src/c00nb-usleep
src/c00nb-false
src/c00nb-true
src/c00nb-yes
clang_output_*